<h1>Listing tokens</h1>

<table class="table">
  <thead class="table__header">
    <tr>
      <th>Value</th>
      <th>Description</th>
      <th>Owner</th>
      <th>Deactivated at</th>
      <th></th>
    </tr>
  </thead>

  <tbody class="table__body">
    <% @tokens.each do |token| %>
      <tr>
        <td><%= token.value %></td>
        <td><%= token.description %></td>
        <td><%= token.owner %></td>
        <td><%= token.deactivated_at %></td>
        <td>
          <%= link_to 'Show', token, class: "button button--secondary button--small" %>
          <%= link_to 'Edit', edit_token_path(token), class: "button button--warning button--small" %>
          <%= link_to 'Deactivate', token_deactivate_token_path(token), class: "button button--error button--small" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Token', new_token_path, class: "button button--primary" %>
